@model Factory.Models.Machine

<!DOCTYPE html>
<html>
  <head>
    <link href="~/css/MachineCreate.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h2>Add a Machine!</h2>
    @using (Html.BeginForm())
    {
      <p>@Html.LabelFor(model => model.Name): @Html.TextBoxFor(model => model.Name, new {@required = "required"})</p>
      <p>@Html.LabelFor(model => model.Description): @Html.TextBoxFor(model => model.Description, new {@required = "required"})</p>
      <input name="submit" type="submit" value="Submit" />
    }
    @Html.ActionLink("Back to machines", "Index")
  </body>
</html>