@using Factory.Models
<!DOCTYPE html>
<html>
  <head>
    <link href="~/css/MachineIndex.css" rel="stylesheet" type='text/css' />
  </head>

  <body>
    <h1>Current Machines</h1>
    @if (Model.Count == 0)
    {
      <p>There are no current machines! Add one below.</p>
    }
    else
    {
      foreach(Machine machine in Model)
      {
        <hr />
        <h1>Name: @machine.Name</h1>
        <h3>Description: @machine.Description</h3>
        @Html.ActionLink("Engineers assigned to fix", "Detail", new { id = machine.MachineId })
        <div class="machine-btn">
          <form action="/Machine/Edit" method="get">
            <input name="machineId" type="hidden" value="@machine.MachineId" />
            <button name="submit" type='submit'>Edit</button>
          </form>
          <form action="/Machine/Delete" method="post">
            <input name="machineId" type="hidden" value="@machine.MachineId" />
            <button name="submit" type='submit'>Delete</button>
          </form>
        </div>
        <hr />
      }
    }

    <div class="nav-links">
      @Html.ActionLink("Add a machine", "Create")
      @Html.ActionLink("Back to homepage", "Index", "Home")
    </div>
  </body>
</html>