@using Factory.Models

<!DOCTYPE html>
<html>
  <head>
    <link href="~/css/EngineerDetail.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>@Model.Name's assigned Machines:</h1>

    @if (Model.JoinEntities.Count == 0)
    {
      <p>No Machines have been added yet! Add one below.</p>
    }
    else
    {
      <ul>
        @foreach (EngineerMachine join in Model.JoinEntities)
        {
          <li class="machine"><h3>@join.Machine.Name</h3>
            <form action="/Engineer/DeleteMachine" method="post">
              <input name="joinId" type="hidden" value="@join.EngineerMachineId" />
              <button name="submit" type='submit' >Remove</button>
            </form>
          </li>
        }
      </ul>
    }
    <div class="nav-links">
      @Html.ActionLink("Add new machine", "AddMachine", new { id = Model.EngineerId })
      @Html.ActionLink("Go back to Engineers", "Index")
    </div>
  </body>
</html>