@model Factory.Models.Engineer

<!DOCTYPE html>
<html>
  <head>
    <link href="~/css/EngineerEdit.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Edit @Model.Name's Profile</h1>
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.EngineerId)
      <h3>Name</h3>
      @Html.EditorFor(model => model.Name)
      <br />
      <h3>Description</h3>
      @Html.EditorFor(model => model.Description)
      <br />
      <input name="submit" type="submit" value="Save" id="submit" />
    }

    @Html.ActionLink("Go back to Engineers", "Index")
  </body>
</html>