@using Factory.Models

<!DOCTYPE html>
<html>
  <head>
    <link href="~/css/EngineerIndex.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    @if (Model.Count == 0)
    {
      <p>There are no engineers! Please create one below</p>
    }
    else
    {
      foreach(Engineer engineer in Model)
      {
        <h1>Name: @engineer.Name</h1>
        <h3>Description: @engineer.Description</h3>
        @Html.ActionLink($"Current Machines {@engineer.Name} Works On", "Detail", new { id = engineer.EngineerId })
        <div class="engineer-btn">
          <form action="/Engineer/Edit" method="get">
            <input name="EngineerId" type="hidden" value="@engineer.EngineerId" />
            <button name="submit" type='submit'>Edit</button>
          </form>
          <form action="/Engineer/Delete" method="post">
            <input name="engineerId" type="hidden" value="@engineer.EngineerId" />
            <button name="submit" type='submit'>Delete</button>
          </form>
        </div>
        <hr />
      }
    }

    <div class="nav-links">
      @Html.ActionLink("Add a Engineer", "Create")
      @Html.ActionLink("Back to homepage", "Index", "Home")
    </div>
  </body>
</html>